.home-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .home-details ul{
      list-style: none
  }
  
  .home-details-image {
    flex: 2 1 30rem;
  }
  
  .home-details-image img {
    max-width: 50rem;
    width: 100%;
  }
  
  .home-details-info {
    flex: 1 1 30rem;
    margin-left:auto;
    margin-right:auto;
  }
  
  .home-heading{
    font-size:2rem;
    font-family: 'Red Rose', cursive;
  }

  .home-heading-h1{
    font-size:2rem;
    margin-top:70px;
    font-family: 'Red Rose', cursive;
    text-align: center;
  }
  
  .home-info{
    font-size:1.1rem;
    font-family: 'Red Rose', cursive;
  }
  
  .brand-naming{
    font-size: 2rem;
    font-family: 'Red Rose', cursive;
  }
  .brand-name {
    font-weight: bold;
    font-size: 2rem;
    color: dodgerblue;
    font-family: 'Red Rose', cursive;
  }
  
  .home-button {
    border: 1px solid black;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 20px;
    outline: none;
    color: dodgerblue;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
  }
  
  .home-button:hover {
    color: #fff;
    background: #ffc0cb;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  .img-fluid {
    width: 80%;
    height: 70%;
    padding-left: 2rem;
  }
  
  
  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }